:root {
    --headerColour: #5c635a;
    --backgroundColour: #727a6f;

    --buttonPrimary: #d2d6da;
    --buttonPrimaryFont: #353536;

    --buttonPrimaryHover: #60616a;
    --buttonPrimaryHoverFont: #dadbe6;

    --buttonSecondary: #749599ff;
    --buttonSecondaryHover: rgb(72, 93, 95);

    --cardColour: rgb(232, 232, 232);

    --cardColourRead: rgb(177, 197, 170);

    --primaryfont: #727a6f;

}