.card {
  border-radius: 10px;
  background-color: var(--cardColour);
  width: 95%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1rem;
}

.cardAlternate {
  border-radius: 10px;
  background-color: var(--cardColourRead);
  width: 95%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1rem;
}
